body {
    margin: 1%;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}

#overview{
    height: 75vh;
    float: right;
    top: 100px;
}
#toc{
    float: left;
    height: 400px;
    margin-left: auto;
}

#toc, #overview, #toc *, #overview *{
    background-color: rgb(248, 253, 253);
}

#toc, #overview {
    border: 1px solid;
    border-color: black;
    width: 15%;
    font-size: 15px;
    padding: 3px;
    box-sizing: border-box;
}

hr {
    color: white;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
}
#list{
    margin-left: 15vw;/*temporary measure to prevent list's dots from overlapping with table of contents*/
}
div h2,h3,h4,h5 {
    text-align: center; 
}

.collapsible {
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    color: white;
}

/*
.collapsible:hover {
    background-color: #555;
}
*/

.active > img {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: black;
}
