#contentbox {
    width: 99%;
    height: 400px; /* You can adjust this value to make it bigger or smaller */
    font-size: 16px; /* Adjust the font size as needed */
    border: 2px solid #ccc;
    border-radius: 5px;
}

#titlebox {
    font-size: 24px;
    width: 99%;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.container {
    margin-bottom: 10px;
    max-width: 100%; /* Ensures the container does not exceed the width of its parent */
}

textarea {
    display: block; /* Makes the textarea a block element */
    width: 100%; /* Ensures the textarea takes up 100% of the container's width */
    height: 150px; /* Set the height of the textarea */
    margin-bottom: 10px; /* Space between text boxes */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding and border are included in the width/height */
}
